p{
    color:red;
    font-size:16pt;
}
body
 {   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(0, 0, 0);
    background-image: url(purple.png) ;
 }


    .archivo-black-regular {
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

